@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .draggable {
        -webkit-app-region: drag;
    }

    .no-drag {
        -webkit-app-region: no-drag;
    }

    .modal-open {
        overflow: hidden;
    }
}